<a href="https://colab.research.google.com/github/pujithanelluri/pdsassignment1/blob/main/PDS%20Assignment%201/16345452/QUESTION%202/src/Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing packages
import pandas as pd
file_path = '/content/drive/Othercomputers/PDS Assignment 1/16345452/QUESTION 2/Stage 1 (Raw_Data)/StudentsPerformance.csv'
#Using the read_csv() function to read the CSV file into a DataFrame.
df = pd.read_csv('/content/drive/Othercomputers/PDS Assignment 1/16345452/QUESTION 2/Stage 1 (Raw_Data)/StudentsPerformance.csv')

In [2]:
# Printing the entire DataFrame
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [4]:
# Delete a column (e.g., column 'B')
column_to_delete = 'lunch'
if column_to_delete in df:
    df.drop(column_to_delete, axis=1, inplace=True)

# Display the DataFrame after deleting the column
print("\nDataFrame after deleting the column:")
print(df)

DataFrame after deleting the column:
     gender race/ethnicity parental level of education  \
0    female        group B           bachelor's degree
1    female        group C                some college
2    female        group B             master's degree
3      male        group A          associate's degree
4      male        group C                some college
..      ...            ...                         ...
995  female        group E             master's degree
996    male        group C                 high school
997  female        group C                 high school
998  female        group D                some college
999  female        group D                some college

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 7 columns]

In [7]:
c_d='/content/drive/Othercomputers/PDS Assignment 1/16345452/QUESTION 2/Stage 2(Cleaned_Data)/cleaned_data.csv'

In [8]:
df.to_csv(c_d, index=False)